p{
color:darkslategray;
font-size:18px;
}
div{
width:200px;
height:200px;
background-color:lightgray;
margin-bottom:20px;
}
div p{
  color:black;
  background:lightcyan;
}
.Life-Story{
  background-color:skyblue;
  color:white;
  
  text-align:center;

}
.First-div {
  background-color:skyblue;
  color:white;
  text-align:left;
}
.text-style{
  width:500px;
 height:200px;
  color:darkslategrey;
  font-size:20px;
  line-height:1.5em;
}
.text-part {
  background-color:lightseagreen;
  width:200px;
  height:200px;
  color:darkslategray
}